@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-main: "Jakarta Sans", serif;
  --background-image-gradient-main: linear-gradient(to right, #F97316, #D81B7E, #7C3AED);
  --background-image-gradient-button: linear-gradient(to right, #F97316, #EC4899);
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
